*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.carousel-title {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 4px 4px rgba(0,0,0,.6);
    font-size: 60px;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .carousel-subtitle {
    position: absolute;
    bottom: 7%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0, .6);
    font-size: 25px;

  }

  

/* xs */
#logoclinica {
    width: 30%;
    height: auto;
    }
    /* sm */
    @media (min-width: 768px) {
        #logoclinica {
    width: 20%;
    }
    }
    /* md */
    @media (min-width: 992px) {
        #logoclinica {
    width: 10%;
    }
    }
    /* lg */
    @media (min-width: 1200px) {
        #logoclinica{
    width: 10%;
    }
    }

    /* xs */
        #imgprevencion {
            width: 100%;
            height: 100%;
            }
            /* sm */
            @media (min-width: 768px) {
                #imgprevencion {
            width: 100%;
            
            ;
            }
            }
            /* md */
            @media (min-width: 992px) {
                #imgprevencion {
            width: 100%;
            
            
            ;
            }
            }
            /* lg */
            @media (min-width: 1200px) {
                #imgprevencion{
            width: 100%;
            ;
            }
            }


    
    


 #sintomas {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
    font-stretch: normal;
}


#aviso{
    
    background-color: #008dc9;
    padding-top: 47px;
    margin: 0;
}
#tituloaviso{
    font-size: 32px;
    color: rgb(196, 176, 64);
    font-weight: bolder;
}
#titulonovedades{
    font-size: 27px;
    color: #7dba2d;
    margin-left: 24px;
    font-family: "calibri", "Courier New", monospace;
    margin-top: 2%;
}

  #button-green{

 background-color: #7dba2d;
font-weight: 400px;
border-width: 0;
border-style: solid;
border-radius: 5px;
} 



#quitarsub{

text-decoration: none;

color: #37b3d8;
}

/* institucional */
#titulosinstitucional{
        font-size: 50px;
    margin-left: 40px;
    margin-top: 80px;


}
#subtitinstitucional{
    font-size: 27px;
    color: #7dba2d;
    font-family: "calibri", "Courier New", monospace;

}